<template>
  <footer class="footer">
    <h2 class="footer__title">all rights reserved</h2>
  </footer>
</template>

<script setup lang="ts">

</script>

<style scoped lang="scss">
.footer {
  background: #FAFAFA;
  box-shadow: 0 1px 0 0 rgba(17, 17, 17, 0.10);
  padding: 30px 0;
  text-align: center;

  &__title {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #000000;
  }
}
</style>
