<template>
  <form class="form">
    <div class="form__parentData">
      <h2 class="form__title">Персональные данные</h2>
      <div class="form__input">
        <label for="name-parent">Имя</label>
        <input id="name-parent" v-model="formData.parentName">
      </div>
      <div class="form__input">
        <label for="age-parent">Возраст</label>
        <input id="age-parent" v-model="formData.parentAge">
      </div>
    </div>
    <div class="form__childData">
      <div class="form__addChild">
        <h2 class="form__title">Дети (макс. 5)</h2>
        <button class="form__addChildBtn"
                @click="addChild"
                v-if="formData.childs.length < 5"
                type="button"
        > Добавить ребенка </button>
      </div>
      <div class="form__childInfoContainer">
        <div class="form__childInfo" v-for="(child, index) in formData.childs" :key="index">
          <div class="form__input">
            <label :for="`child-name-${index}`">Имя</label>
            <input :id="`child-name-${index}`" v-model="child.childrenName"/>
          </div>
          <div class="form__input">
            <label :for="`child-age-${index}`">Возраст</label>
            <input :id="`child-age-${index}`" v-model="child.childrenAge"/>
          </div>
          <button class="form__deleteBtn" type="button" @click="deleteChild(index)">Удалить</button>
        </div>
      </div>
      <button class="form__saveBtn" @click.prevent="saveData" v-if="formData.childs.length > 0">Сохранить</button>
    </div>
  </form>
</template>

<script setup lang="ts">
import { ref, onMounted } from "vue";
import { useRouter } from "vue-router";

interface Child {
  childrenName: string;
  childrenAge: string;
}

const formData = ref({
  parentName: "",
  parentAge: "",
  childs: [] as Child[]
});

const router = useRouter();

function addChild() {
  if (formData.value.childs.length < 5) {
    formData.value.childs.push({
      childrenName: "",
      childrenAge: ""
    });
  }
}

function deleteChild(index: number) {
  formData.value.childs.splice(index, 1);
  localStorage.setItem('formData', JSON.stringify(formData.value));
}

function saveData() {
  localStorage.setItem('formData', JSON.stringify(formData.value));
  console.log("Данные сохранены:", formData.value);

  router.push('/preview');
}

onMounted(() => {
  const savedData = localStorage.getItem('formData');
  if (savedData) {
    formData.value = JSON.parse(savedData);
  }
});
</script>

<style scoped lang="scss">
@import '@/assets/mixins.scss';

.form {
  max-width: 616px;
  margin: 0 auto;
  padding: 30px 0 140px 0;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;

  @include for-phone-only {
    padding: 30px 20px;
  }


  &__parentData {
    display: flex;
    flex-direction: column;
    margin-bottom: 33px;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #111111;
    margin-bottom: 20px;
  }

  &__input {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #F1F1F1;
    padding: 8px 15px;
    margin-bottom: 10px;
    min-width: 260px;

    input {
      border: none;
      background: #ffffff;
      outline: none;
    }

    label {
      color: rgba(17, 17, 17, 0.48);
      font-size: 13px;
      font-weight: 400;
    }
  }

  &__childInfoContainer {
    margin-bottom: 30px;
  }

  &__childInfo {
    display: flex;
    gap: 20px;
    align-items: center;

    @include for-phone-only {
      flex-direction: column;
      padding: 20px 0;
      border-bottom: 2px dashed #01A7FD;
    }
  }

  &__addChild {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__addChildBtn {
    padding: 10px 20px 10px 40px;
    border-radius: 100px;
    border: 2px solid #01A7FD;
    background: #ffffff;
    color: #01A7FD;
    margin-bottom: 20px;
    position: relative;
    transition: .2s;

    &:before {
      content: '';
      position: absolute;
      background: url("@/assets/images/plus.svg");
      width: 24px;
      height: 24px;
      left: 10px;
      top: 50%;
      transform: translate(0, -50%);
    }

    &:hover {
      cursor: pointer;
      border: 2px solid #1088e4;
      color: #1088e4;
    }
  }

  &__deleteBtn {
    color: #01A7FD;
    background: none;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;

    &:hover {
      color: #1088e4;
      cursor: pointer;
    }
  }

  &__saveBtn {
    border-radius: 100px;
    background: #01A7FD;
    color: #ffffff;
    padding: 10px 20px;
    outline: none;
    border: none;
    font-size: 14px;
    line-height: 24px;
  }
}

</style>
