<template>
  <header class="header">
    <RouterLink class="header__logo" :to="{ name: 'home' }">
      <img class="header__logoImg" src="@/assets/images/logo.svg" alt="logo">
    </RouterLink>
    <div class="header__menu">
      <RouterLink class="header__menuItem" :to="{ name: 'home' }">Форма</RouterLink>
      <RouterLink class="header__menuItem" :to="{ name: 'preview' }">Превью</RouterLink>
    </div>
  </header>
</template>

<script setup lang="ts">

</script>

<style scoped lang="scss">
@import '@/assets/mixins.scss';

.header {
  padding: 22px 50px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 0 0 rgba(17, 17, 17, 0.10);

  @include for-phone-only {
    padding: 20px 20px 20px 0;
  }

  &__menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__menuItem {
    color: rgba(17, 17, 17, 0.48);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    margin-right: 24px;
    transition: .2s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: #333333;
    }
  }
}
</style>
