<template>
  <div class="userInfo">
    <div class="userInfo__personalData">
      <h2 class="userInfo__title">Персональные данные</h2>
      <div class="userInfo__data">{{ personalData }}</div>
    </div>
    <div class="userInfo__childData">
      <h2 class="userInfo__title">Дети</h2>
      <div class="userInfo__child">
        <div class="userInfo__childItem" v-for="(child, index) in childrenData" :key="index">
          {{ child }}
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from "vue";

const personalData = ref<string>("");
const childrenData = ref<string[]>([]);

onMounted(() => {
  const storedFormData = localStorage.getItem("formData");

  if (storedFormData) {
    const formData = JSON.parse(storedFormData);
    personalData.value = `${formData.parentName}, ${formData.parentAge} лет`;

    if (formData.childs.length > 0) {
      childrenData.value = formData.childs.map(
          (child) => `${child.childrenName}, ${child.childrenAge} лет`
      );
    }
  }
});
</script>

<style scoped lang="scss">
.userInfo {
  padding: 30px 0;
  max-width: 350px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;

  &__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #111111;
    margin-bottom: 20px;
  }

  &__data,
  &__childItem {
    color: #111111;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  &__child {
    display: flex;
    flex-direction: column;
  }

  &__childItem {
    border-radius: 5px;
    background: #F1F1F1;
    padding: 10px 20px;
    width: max-content;
    margin-bottom: 20px;
  }

  &__personalData {
    margin-bottom: 60px;
  }
}
</style>
